/*Sets the background color and positioning 
for other pieces of content to go off of.*/
body {
    position: relative;
    margin: auto;
    top : 30px;
    align-items: center;
    justify-content: center;
    background-color: #979797;
}

/*Sets the properties for the "label" type content.
Makes their positioning go off of the body.
Sets the font and color*/
label {
    position: absolute;
    left: 50%;
    transform: translate(-275px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
}

/*Sets the properties for the "popup" type content.
Makes their positioning go off of the body.
Sets the font and color*/
popup {
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    top: 225%;
    color: rgb(185, 3, 3);
}

/*Sets the properties for the "button" type content.
Makes their positioning go off of the body.
Sets the font and color*/
button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(96, 180, 230)
}

/*Sets the properties for the "button" type content.
Makes their positioning go off of the body.*/
input {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}